<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.mall.app.dao.UserOrderMapper">
  <select id="listUserOrder" resultType="java.util.HashMap">
    SELECT
		order_id AS orderId,
		`order`.product_id AS productId,
		product_num AS productNum,
		product_name AS productName,
		`order`.price AS price,
		buyer_id AS buyerId,
		`order`.seller_id AS sellerId,
		order_time AS orderTime,
		buyer_addr AS buyerAddr,
		`order`.seller_addr AS sellerAddr,
		logistic_id AS logisticId,
		`status` AS status
	FROM
		`order` 
	LEFT JOIN
		product
	ON
		`order`.product_id = product.product_id
	WHERE
		buyer_id=#{buyerId}
  </select>
  <select id="listUserOrderByStatus" resultType="java.util.HashMap">
    SELECT
		order_id AS orderId,
		`order`.product_id AS productId,
		product_num AS productNum,
		product_name AS productName,
		`order`.price AS price,
		buyer_id AS buyerId,
		`order`.seller_id AS sellerId,
		order_time AS orderTime,
		buyer_addr AS buyerAddr,
		`order`.seller_addr AS sellerAddr,
		logistic_id AS logisticId,
		`status` AS status
	FROM
		`order` 
	LEFT JOIN
		product
	ON
		`order`.product_id = product.product_id
	WHERE
		buyer_id=#{buyerId} AND status=#{status}

  </select>
  
  <select id="getLogisticName" resultType="String">
  	SELECT
  		com_name
  	FROM
  		logistic_com
  	WHERE
  		logistic_id = #{logisticId}
  
  </select>
  
  <!-- 	LIMIT
		#{start},#{capacity} -->
  
  <!-- 
  <resultMap type="com.mall.app.bean.Order" id="listUserOrderMap">
  	<id property="orderId" column="orderId"/>
  	<result property="productNum" column="productNum"/>
  	<result property="price" column="price"/>
  	<result property="buyerId" column="buyerId"/>
  	<result property="sellerId" column="sellerId"/>
  	<result property="orderTime" column="orderTime"/>
  	<result property="buyerAddr" column="buyerAddr"/>
  	<result property="sellerAddr" column="sellerAddr"/>
  	<result property="logisticId" column="logisticId"/>
  	<result property="status" column="status"/>
  	<association property="productName" javaType="com.mall.app.bean.Product">
  		<id property="productId" column="productId"/>
  		<result property="productName" column="productName"/>
  	</association>
  </resultMap>
   -->
   
  <select id="getOrderNumByStatus" resultType="int">
  	SELECT
  		COUNT(*)
  	FROM
  		`order` 
  	WHERE
		buyer_id=#{buyerId} AND status=#{status}
  </select>
  
  <select id="getOrderNum" resultType="int">
  	SELECT
  		COUNT(*)
  	FROM
  		`order` 
  	WHERE
		buyer_id=#{buyerId}
  </select>
  
  <update id="userReceiveOrder">
  	UPDATE `order` SET `status`=2 WHERE order_id=#{orderId} AND `status`=1 AND buyer_id=#{buyerId}
  </update>
	 	 
</mapper>